<div class="gradient max-w-[400px] w-full text-white p-3 rounded drop-shadow flex flex-col justify-between gap-2">
    <p>
      <%- post.text %>
    </p>
    <div class="flex justify-between items-center">
      <div class="font-semibold flex items-center flex-1">
        <% if (currentUser) { %>
          <% if (currentUser._id.toString() === post.user._id.toString() || currentUser.isAdmin) { %>
            <a href="/post/<%= post._id %>/update" aria-label="update-post">
              <svg class="fill-white w-[30px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>pencil</title><path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" /></svg>
            </a>
            <form action="/post/<%= post._id %>/delete" method="post" class="flex flex-col justify-center">
              <input type="hidden" name="postid" value="<%= post._id %>">
              <button type="submit">
                <svg class="fill-white w-[30px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>delete-outline</title><path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" /></svg>
              </button>
            </form>
          <% } else { %>
             <span>by <a href="user/<%= post.user._id %>/posts" class="underline"> <%= post.user.username %> </a></span>
          <% } %>
        <% } else { %>
          <span>by Anonymous</span>
        <% } %>
        </div>
      <span><%= post.createdAt_formatted %></span>
    </div>
  </div>